.Comment {
  border: 1px solid blue;
  /* display: flex; */
  align-items: center;
  width: 100%;
}

h6, h6 p {
  font-size: 0.9rem;
  font-weight: 500;
  font-family: NotoSans, BentonSans, Verdana, arial, helvetica, sans-serif;
}

.base-comment {
  min-height: 50px;
  display: flex;
  align-items: center;
  background-color: #EEE;
}

.second-comment {
  background-color: #CCC;
  min-height: 50px;
  border-bottom: 1px solid black;
}

.third-comment {
  background-color: rgb(219, 168, 176);
  min-height: 50px;
  border-bottom: 1px solid black;
}