@import url("https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap");
@import url("https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@200;300;400;500;600;700&display=swap");
@font-face {
  font-family: BentonSans;
  src: url("../fonts/BentonSansRegular.otf");
}
*, *::before, *::after {
  margin: 0;
}

body {
  background-color: #dae0e6;
  font-family: "IBM Plex Sans", sans-serif;
  min-height: 100vh;
}

.main-content-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.btn {
  font-family: NotoSans, BentonSans, Verdana, sans-serif;
  border-radius: 100vmax;
  font-weight: bold;
  cursor: pointer;
  border: none;
  outline: none;
}

.btn-blue {
  color: white;
  background-color: #0079d3;
  border: 1px solid #0079d3;
}
.btn-blue:hover {
  background-color: #1484d7;
}

.btn-white {
  color: #0079d3;
  background-color: white;
  border: 1px solid #0079d3;
}
.btn-white:hover {
  background-color: #f5fafd;
}

.btn-red {
  color: white;
  background-color: orangered;
  border: none;
}
.btn-red:hover {
  background-color: hwb(16 8% 0%);
}

.comment-container {
  align-items: center;
  width: 100%;
}

.comment-container li {
  list-style-type: none;
  padding-left: 20px;
  margin-left: -20px;
  padding-left: 5px;
  padding-top: 10px;
}

li, li p, li h1, li h2 {
  font-size: 0.9rem;
  font-weight: 500;
  font-family: NotoSans, BentonSans, Verdana, arial, helvetica, sans-serif;
}

.comment-border {
  border-left: 2px solid #edeff1;
  margin-left: -5px;
  padding-left: 5px;
  position: relative;
  top: 10px;
}

.base-comment {
  position: relative;
  display: block;
  flex-direction: column;
  margin-top: 10px;
  padding-top: 10px;
  padding-bottom: 10px;
}

.subcomment {
  border-left: 2px solid #edeff1;
  /* hover 68, 78, 89 */
}

.comment-details-container {
  display: flex;
  margin-bottom: -5px;
}

.comment-details {
  display: flex;
  align-items: center;
  padding-bottom: 5px;
}

.comment-author {
  font-size: 0.75rem;
  color: #1c1c1c;
  font-weight: 500;
  font-family: "IBM Plex Sans", sans-serif;
  margin-left: -5px;
}

.comment-separator-dot {
  position: relative;
  bottom: 3px;
  margin: 0px 5px;
}

.comment-time-posted {
  font-size: 0.75rem;
  color: #7c7c7c;
}

.comment-avatar {
  height: 36px;
  width: 36px;
  margin-left: -22px;
  margin-right: 10px;
  margin-top: -10px;
  border-radius: 50%;
}

.comment-body {
  padding-bottom: 20px;
  padding-left: 18px;
  padding-top: 5px;
  padding-right: 10px;
}

.comment-bottom-bar {
  display: flex;
  position: relative;
  margin-left: 18px;
  margin-top: -10px;
}

.comment-votes {
  display: flex;
}

.comment-votes-up, .comment-votes-down {
  height: 18px;
  width: 18px;
  margin-right: 5px;
  margin-top: 8px;
}

.comment-votes-count {
  font-size: 0.73rem;
  font-weight: bold;
  font-family: "IBM Plex Sans", sans-serif;
  margin-right: 5px;
  position: relative;
  top: 8px;
}

.comment-reply-container {
  display: flex;
}

.comment-speechbubble {
  height: 20px;
  width: 20px;
  margin-left: 10px;
  margin-right: 8px;
}

.comment-link {
  color: #898989;
  font-size: 0.75rem;
  font-family: "IBM Plex Sans", sans-serif;
  padding: 8px 7px 3px 7px;
  border-radius: 3px;
  cursor: pointer;
}
.comment-link:hover {
  background-color: rgba(26, 26, 27, 0.1);
}

@font-face {
  font-family: NotoSansBold;
  src: url(../fonts/NotoSans-Bold.ttf);
}
.navbar {
  display: flex;
  border-bottom: 1px solid #edeff1;
  background-color: white;
  height: 48px;
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 5;
  border: none;
}

.logo {
  height: 33px;
  width: 129px;
  position: relative;
  top: 7px;
  left: 20px;
  background-image: url("../assets/images/logo.png");
  background-size: contain;
  background-repeat: no-repeat;
  cursor: pointer;
  margin-right: 10px;
}

.searchbar-container {
  width: 60%;
  margin-left: 5px;
}

.searchbar-subreddits {
  position: relative;
  font-family: inherit;
  font-size: 0.9rem;
  box-sizing: border-box;
  min-width: 90%;
  width: 90%;
  max-width: 655px;
  height: 36px;
  border-radius: 4px;
  outline: none;
  border: 1px solid #f1f1f1;
  line-height: 14px;
  background-color: #f5fafd;
  color: #1c1c1c;
  margin-top: 5px;
  padding-top: 1px;
  z-index: 5;
}
.searchbar-subreddits:focus, .searchbar-subreddits:hover {
  border-color: #0079d3;
}

.search-icon {
  position: relative;
  height: 22px;
  width: 22px;
  left: 36px;
  top: 6px;
  z-index: 7;
}

.current-subreddit {
  position: relative;
  background-color: #d6d6d6;
  left: 65px;
  width: fit-content;
  padding: 3px 4px;
  font-size: 0.9rem;
  font-weight: 500;
  font-family: "IBM Plex Sans", sans-serif;
  bottom: 29px;
  border-radius: 15px;
  z-index: 7;
}

.dropdown-subreddits {
  margin-left: 21px;
  margin-top: 7px;
  position: relative;
  background-color: #f5fafd;
  width: 655px;
  box-shadow: 0px 8px 16px 0px rgba(0, 0, 0, 0.2);
  z-index: 25;
}

.dropdown-div {
  position: relative;
  cursor: pointer;
  color: black;
  padding: 12px 16px;
  text-decoration: none;
  display: block;
  z-index: 25;
}

.dropdown-div-hover {
  background-color: #f1f1f1;
}

.btn-container {
  position: relative;
  margin-right: 0;
  margin-left: auto;
  display: flex;
  align-items: center;
}

.btn-login, .btn-signup {
  width: 120px;
  height: 32px;
  padding: 4px 16px 5px 16px;
  font-weight: 700;
  line-height: 17px;
  font-size: 14px;
}

.btn-signup {
  margin-left: 16px;
}

.user-icons-container {
  display: block;
  margin-left: 10px;
  margin-right: 15px;
  width: 70px;
  height: 30px;
  border-radius: 5px;
  border: 1px solid transparent;
  cursor: pointer;
}
.user-icons-container:hover {
  border: 1px solid #edeff1;
}

.user-icon {
  height: 21px;
  padding-left: 15px;
  padding-top: 4px;
}

.v-icon {
  height: 6px;
  padding-bottom: 6px;
  padding-left: 3px;
}

@font-face {
  font-family: NotoSans;
  src: url(../fonts/NotoSans-Regular.ttf);
}
.post-container {
  width: 640px;
  min-height: 1000px;
  margin-top: 72px;
}

.post {
  background-color: white;
  margin-top: 10px;
  border-radius: 5px;
  border: 1px solid #cccccc;
  display: flex;
  position: relative;
  /* max-width: 700px; */
}

.link-post {
  min-height: 170px;
}

.post-votes {
  background-color: #f5fafd;
  align-items: center;
  min-width: 40px;
  width: 40px;
  display: flex;
  flex-direction: column;
  border-top-left-radius: 5px;
  border-bottom-left-radius: 5px;
}

.post-votes-up {
  width: 18px;
  height: 18px;
  padding-top: 10px;
  cursor: pointer;
}

.post-votes-down {
  padding-top: 4px;
  width: 18px;
  height: 18px;
  cursor: pointer;
}

.post-votes-count {
  padding-top: 5px;
  padding-bottom: 5px;
  font-size: 0.73rem;
  font-weight: bold;
}

/* flex-direction column keeps the comments bar at the bottom (combined with margin-top: auto) */
.post-right {
  display: flex;
  flex-direction: column;
}

.post-top {
  padding-left: 8px;
  width: 595px;
  padding-top: 5px;
}

.subreddit-thumbnail {
  position: relative;
  height: 20px;
  width: 20px;
  border-radius: 50%;
  margin-right: 5px;
  top: 5px;
}

.post-subreddit {
  font-weight: bold;
  font-size: 0.8rem;
  cursor: pointer;
}

.post-posted-by {
  color: #7c7c7c;
  font-size: 0.7rem;
  cursor: pointer;
}

.separator-dot {
  font-size: 8px;
  line-height: 20px;
  color: #7c7c7c;
  padding-left: 5px;
  padding-right: 5px;
}

.btn-join {
  float: right;
  border: none;
  font-family: NotoSans, BentonSans, Verdana, arial, helvetica, sans-serif;
  font-weight: 700;
  line-height: 18px;
  height: 24px;
  min-width: 24px;
  width: 59px;
  /* margin-right: 13px; */
  /* margin-top: 3px; */
  justify-content: center;
  cursor: pointer;
  position: absolute;
  top: 8px;
  right: 8px;
}

.join {
  font-family: NotoSans, BentonSans, Verdana, arial, helvetica, sans-serif;
  font-size: 0.75rem;
  position: relative;
  bottom: 5px;
  left: 2px;
  letter-spacing: 0.5px;
}

.plus {
  position: relative;
  right: 2px;
  font-size: 30px;
  font-weight: lighter;
}

.post-awards {
  font-size: 0.7rem;
  padding-left: 5px;
  color: #7c7c7c;
  cursor: pointer;
  display: inline-flex;
  flex-wrap: wrap;
  margin-right: 80px;
}

.post-award {
  height: 16px;
  width: 16px;
  line-height: 16px;
  vertical-align: middle;
  padding-right: 3px;
  padding-left: 3px;
}

.post-title {
  padding-left: 8px;
  padding-right: 40px;
  font-size: 1.1rem;
  padding-top: 10px;
  margin-bottom: 10px;
  cursor: pointer;
  font-weight: 500;
  color: #222222;
  font-family: "IBM Plex Sans", sans-serif;
  word-break: break-word;
}

.post-title-shortened {
  width: 70%;
}

.flair {
  display: inline-flex;
  font-size: 0.7rem;
  font-weight: 500;
  border-radius: 20px;
  padding: 2px 8px;
  margin-left: 5px;
  margin-right: 5px;
  white-space: nowrap;
  line-height: 16px;
  width: fit-content;
}

.flair-image {
  height: 16px;
  width: 16px;
  vertical-align: bottom;
}

.flair-oc {
  background-color: #0079d3;
  color: white;
  border-radius: 4px;
  font-size: 0.75rem;
  padding: 1px 3px;
  margin-left: 5px;
  line-height: 0.75rem;
}

.post-link-container {
  margin-top: -10px;
  padding-left: 8px;
  margin-bottom: 10px;
}

.post-link {
  font-size: 0.8rem;
}

.link-image {
  float: right;
  width: 144px;
  height: 100px;
  border-radius: 4px;
  border: 1px solid #0079d3;
  position: absolute;
  bottom: 30px;
  right: 20px;
  cursor: pointer;
  object-fit: cover;
}

.video-background {
  background-color: black;
  justify-content: center;
  display: flex;
  width: 600px;
  margin-top: 10px;
  position: relative;
  cursor: pointer;
}

.img-center {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 600px;
}

.post-image {
  max-width: 600px;
  cursor: pointer;
  max-height: 510px;
  position: relative;
  padding-bottom: 4px;
}

.post-gallery-image {
  max-width: 600px;
  cursor: pointer;
  max-height: 510px;
  position: relative;
}

.gallery-button {
  height: 44px;
  width: 44px;
  border-radius: 50%;
  font-size: 3rem;
  line-height: 5px;
  outline: none;
  border: none;
  background-color: white;
  color: #878a8c;
  cursor: pointer;
}

.gallery-button span {
  position: relative;
  top: -3px;
}

.gallery-button-left {
  position: absolute;
  left: 45px;
  z-index: 2;
}

.gallery-button-right {
  position: absolute;
  right: 5px;
}

.post-video {
  position: relative;
  max-height: 500px;
  max-width: 600px;
}

.spoiler {
  background: linear-gradient(#cccccc, #878a8c, #7c7c7c);
  outline: none;
  border: none;
}

.post-bottom-bar {
  display: flex;
  margin-top: auto;
  font-size: 0.85rem;
  height: 35px;
  width: 70%;
}

.post-comments {
  display: flex;
  cursor: pointer;
  padding: 10px;
}
.post-comments:hover {
  background-color: #e8e8e8;
  border-radius: 5px;
}

.comments-speechbubble {
  position: relative;
  height: 20px;
}

.comments {
  position: relative;
  font-size: 0.75rem;
  color: #898989;
  left: 5px;
}

.post-share-link {
  display: flex;
  cursor: pointer;
  padding: 10px;
}
.post-share-link:hover {
  background-color: #e8e8e8;
  border-radius: 5px;
}

.share-arrow {
  position: relative;
  height: 21px;
  bottom: 4px;
}

.share {
  position: relative;
  color: #898989;
  font-size: 0.75rem;
  top: 1px;
}

.post-save {
  display: flex;
  cursor: pointer;
  padding: 10px;
}
.post-save:hover {
  background-color: #e8e8e8;
  border-radius: 5px;
}

.save-banner {
  position: relative;
  height: 18px;
  width: 14px;
}

.save {
  position: relative;
  color: #898989;
  font-size: 0.75rem;
  left: 5px;
}

.post-more {
  color: #898989;
  font-size: 1.3rem;
  cursor: pointer;
  height: 50%;
  font-weight: 400;
  height: 20px;
  line-height: 20px;
  padding-left: 10px;
  padding-right: 10px;
  margin-right: 5px;
  margin-bottom: 5px;
  padding-bottom: 10px;
}
.post-more:hover {
  background-color: #e8e8e8;
  border-radius: 5px;
}

.sidebar-links {
  border: 1px solid #cccccc;
  width: 310px;
  /* width: 340px; */
  margin-top: 16px;
  background-color: white;
  border-radius: 4px;
  height: 262px;
  position: sticky;
  top: 58px;
}

.sidebar-links-container {
  display: flex;
  padding: 15px 0;
}

.sidebar-links-left {
  width: 48%;
  display: flex;
  flex-direction: column;
  padding-left: 12px;
}

.sidebar-links-right {
  width: 45%;
  display: flex;
  flex-direction: column;
}

.sidebar-links-left a {
  font-weight: 300;
  font-size: 0.75rem;
  font-family: Noto Sans, Arial, sans-serif;
  padding-bottom: 6px;
  text-decoration: none;
  color: black;
}
.sidebar-links-left a:hover {
  text-decoration: underline;
}

.sidebar-links-right a {
  font-weight: 300;
  font-size: 0.75rem;
  font-family: Noto Sans, Arial, sans-serif;
  padding-bottom: 6px;
  text-decoration: none;
  color: black;
}
.sidebar-links-right a:hover {
  text-decoration: underline;
}

.sidebar-copyright {
  position: relative;
  display: inline;
  font-weight: 300;
  font-size: 0.75rem;
  font-family: Noto Sans, Arial, sans-serif;
  padding: 12px;
}

.sidebar-premium-container {
  margin-left: 24px;
  border: 1px solid #cccccc;
  width: 310px;
  /* width: 340px; */
  margin-top: 16px;
  background-color: white;
  border-radius: 4px;
  height: 106px;
}

.sidebar-premium-content-container {
  display: flex;
  padding: 10px;
  align-items: center;
}

.premium-icon {
  height: 24px;
  width: 24px;
  margin-right: 12px;
}

.premium-title {
  font-size: 0.8rem;
  font-weight: 500;
}

.premium-text {
  font-size: 0.75rem;
  background-color: white;
}

.btn-try-now-container {
  display: flex;
  justify-content: center;
}

.btn-try-now {
  width: 280px;
  height: 24px;
  padding: 16px 4px;
  font-size: 14px;
  font-weight: 700;
  display: flex;
  justify-content: center;
  align-items: center;
}

.sidebar-container {
  display: flex;
  flex-direction: column;
}

.sidebar {
  margin-left: 24px;
  border: 1px solid #cccccc;
  width: 310px;
  margin-top: 100px;
  background-color: white;
  border-radius: 4px;
  min-height: 400px;
  max-height: 450px;
}

.top-community {
  width: 310px;
  height: 80px;
  color: white;
  font-weight: bold;
  background-image: url("../assets/images/banner-background.png");
  background-position: contain;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  position: relative;
}

.top-community::before {
  width: 100%;
  height: 100%;
  display: block;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.2) 0%, rgba(0, 0, 0, 0.7) 100%);
  position: absolute;
  content: "";
}

.top-community-title {
  font-size: 15px;
  font-weight: 500;
  line-height: 20px;
  bottom: 8px;
  color: white;
  left: 16px;
  position: absolute;
  font-weight: bold;
  font-family: BentonSans;
  letter-spacing: 0.5px;
}

.community {
  display: flex;
  align-items: center;
  border-bottom: 1px solid #e0e0e0;
  width: 295px;
  height: 48px;
  padding-left: 15px;
  cursor: pointer;
  font-size: 0.9rem;
}

.sidebar-subreddit-name {
  font-weight: 500;
  padding-left: 10px;
}

.up-v {
  width: 11px;
  height: 6px;
  padding-left: 15px;
}

.sidebar-subreddit-logo {
  height: 32px;
  width: 32px;
  padding-left: 15px;
}

.community span {
  font-weight: 500;
}

.view-all-communities {
  padding: 4px 16px;
  width: 280px;
  margin: 0 auto;
  margin-top: 12px;
  display: block;
  height: 24px;
  line-height: 17px;
  font-size: 14px;
  min-height: 32px;
  min-width: 32px;
  cursor: pointer;
}

.small-btns {
  display: flex;
  width: 100%;
  justify-content: space-around;
  margin-top: 10px;
  margin-bottom: 10px;
}

.btn-community-small {
  color: #0079d3;
  background-color: #f5fafd;
  border-radius: 100vmax;
  font-weight: bold;
  padding: 5px;
  font-size: 0.75rem;
  border: none;
  cursor: pointer;
}
.btn-community-small:hover {
  background-color: #dae0e6;
}

.single-post-sidebar {
  display: flex;
  flex-direction: column;
  border: 1px solid #cccccc;
  width: 310px;
  background-color: white;
  border-radius: 4px;
  max-height: 540px;
  height: fit-content;
  margin-right: 32px;
  margin-left: 12px;
}

.sidebar-height {
  min-height: 300px;
}

.single-post-sidebar-banner {
  position: relative;
  display: flex;
  align-items: center;
  width: 310px;
  height: 34px;
  font-weight: bold;
  background-position: contain;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
}

.about-community {
  font-size: 0.9rem;
  margin-left: 10px;
}

.single-post-sidebar-container {
  margin-left: 10%;
  display: flex;
  align-items: center;
}

.single-post-sidebar-subreddit {
  font-weight: 500;
  font-size: 1rem;
  margin: 10px 15px 5px 5px;
  cursor: pointer;
}

.single-post-sidebar-subreddit-thumbnail {
  width: 54px;
  height: 54px;
  border-radius: 50%;
  margin: 10px 0 -20px 0;
  cursor: pointer;
}

.single-post-sidebar-description {
  padding-left: 5px;
  margin-top: 10px;
  padding-right: 2px;
  overflow-wrap: break-word;
}

.single-post-sidebar-description,
.single-post-sidebar-description h2 {
  font-family: NotoSans, BentonSans, Verdana, arial, helvetica, sans-serif;
  font-size: 0.89rem;
  line-height: 1.3rem;
  margin-left: 5px;
  font-weight: 400;
}

.single-post-sidebar-info-container {
  width: 80%;
  display: flex;
  align-items: center;
  padding-bottom: 10px;
  padding-top: 8px;
}

.single-post-sidebar-members-container {
  display: flex;
  flex-direction: column;
  margin-left: 12px;
  width: 50%;
}

.single-post-sidebar-members {
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: 500;
  font-size: 1rem;
}

.single-post-sidebar-members-text {
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 0.75rem;
  font-weight: 500;
  padding-top: 1px;
  margin-top: 1px;
}

.single-post-sidebar-online-container {
  display: flex;
  flex-direction: column;
  margin-left: 12px;
  width: 50%;
}

.single-post-sidebar-online {
  font-weight: 500;
  font-size: 1rem;
  font-family: "IBM Plex Sans", sans-serif;
  margin-left: 2px;
}

.single-post-sidebar-online-text {
  font-family: "IBM Plex Sans", sans-serif;
  font-size: 0.75rem;
  font-weight: 500;
  padding-top: 1px;
  margin-left: 2px;
  margin-top: 1px;
}

.single-post-sidebar-hr {
  border-bottom: 1px solid #edeff1;
  width: 80%;
  margin-left: 10%;
}

.single-post-side-bar-created {
  margin: auto 0;
}

.single-post-sidebar-cake {
  width: 20px;
  height: 20px;
  margin-left: 12px;
  margin-right: 5px;
}

.single-post-sidebar-created-container {
  display: flex;
  margin-top: 20px;
}

.single-post-sidebar-all-communities {
  display: block;
  min-width: 32px;
  width: 280px;
  height: 24px;
  min-height: 32px;
  line-height: 17px;
  font-size: 14px;
  padding: 4px 16px;
  margin: 20px auto;
  cursor: pointer;
}

.subhome-sidebar-margin {
  margin-top: 20px;
  margin-left: 25px;
}

.single-post-page {
  display: flex;
  width: 100vw;
  /* this height was working fine */
  height: calc(100vh - 48px);
  overflow-y: scroll;
  top: 48px;
  background-color: #323232;
  scrollbar-color: #7a7a7c #262628;
  justify-content: center;
  position: relative;
  z-index: 2;
}

.singlepost-close {
  position: fixed;
  max-width: 1280px;
  /* no idea why these 2 siblings are not the same width when I use width: calc(100% - 160px) for both - at lower than 1465px, both .singlepost-close and .singlepost-container use -160px but above this, they are the same width when .singlepost-close is -176px and the .singlepost-container is -160px */
  width: calc(100% - 176px);
  height: 48px;
  background-color: black;
  /* must keep z-index at 1 or the search is obstructed */
  z-index: 1;
  top: 48px;
  display: flex;
  align-items: center;
  justify-content: center;
  box-sizing: border-box;
}

.top-bar-votes-container {
  display: flex;
  align-items: center;
  margin-left: 40px;
}

.top-bar-votes-container::before {
  border-right: 1px solid #343536;
  content: "";
  height: 16px;
  vertical-align: text-bottom;
  margin-right: 10px;
}

.top-bar-votes-container::after {
  border-right: 1px solid #343536;
  content: "";
  height: 16px;
  vertical-align: text-bottom;
  margin-left: 10px;
  margin-right: 10px;
}

.top-bar-up-arrow {
  height: 20px;
  width: 18px;
  padding-right: 5px;
}

.top-bar-votes {
  color: #d7dadc;
  font-weight: 700;
  font-size: 0.8rem;
}

.top-bar-down-arrow {
  height: 20px;
  width: 18px;
  padding-left: 5px;
}

.top-bar-title-container {
  min-width: 50%;
  display: flex;
}

.top-bar-title {
  color: #d7dadc;
  font-size: 0.9rem;
  font-weight: 600;
  text-overflow: ellipsis;
  white-space: nowrap;
  overflow: hidden;
  word-wrap: break-word;
}

.singlepost-flair {
  font-size: 0.75rem;
  border-radius: 20px;
  padding: 2px 8px;
  margin-left: 5px;
  align-self: center;
  font-weight: 500;
  white-space: nowrap;
  display: inline-flex;
}

.top-bar-btn-container {
  margin-right: 20px;
  display: flex;
  justify-content: flex-end;
  width: 300px;
  font: inherit;
  align-items: center;
}

.top-bar-btn-pointer {
  cursor: pointer;
  padding: 10px;
  display: flex;
  align-items: center;
}

.btn-x {
  cursor: pointer;
  width: 13px;
  height: 13px;
  margin-right: 5px;
}

.top-bar-close {
  cursor: pointer;
  font-family: NotoSans, BentonSans, Verdana, sans-serif;
  background-color: black;
  border: none;
  outline: none;
  color: #d7dadc;
  font-size: 0.7rem;
  font-weight: 700;
}

.singlepost-container {
  box-sizing: border-box;
  background-color: #e8e8e8;
  max-width: 1280px;
  width: calc(100% - 160px);
  display: flex;
  position: relative;
  margin-top: 48px;
  padding-top: 32px;
  justify-content: center;
  height: fit-content;
}

.singlepost-post {
  max-width: 840px;
  min-width: 550px;
  background-color: white;
  min-height: 300px;
  display: flex;
  border-radius: 4px;
  border: 1px solid #edeff1;
  margin-left: 32px;
}

.singlepost-votes {
  align-items: center;
  min-width: 40px;
  width: 40px;
  display: flex;
  flex-direction: column;
}

.singlepost-votes-up {
  width: 18px;
  height: 18px;
  padding-top: 10px;
  cursor: pointer;
}

.singlepost-votes-down {
  padding-top: 4px;
  width: 18px;
  height: 18px;
  cursor: pointer;
}

.singlepost-votes-count {
  padding-top: 5px;
  padding-bottom: 5px;
  font-size: 0.73rem;
  font-weight: bold;
}

/* flex-direction column keeps the comments bar at the bottom (combined with margin-top: auto) */
.singlepost-right {
  display: flex;
  flex-direction: column;
  width: 95%;
  max-width: 700px;
}

.singlepost-top {
  padding-left: 8px;
  width: 100%;
  padding-top: 1px;
  display: inline;
  /* white-space: nowrap; */
  flex-wrap: wrap;
  align-items: center;
}

.singlepost-subreddit {
  font-weight: bold;
  font-size: 0.75rem;
  cursor: pointer;
}

.singlepost-posted-by {
  color: #7c7c7c;
  font-size: 0.75rem;
  cursor: pointer;
  display: inline-flex;
}

.singlepost-separator-dot {
  font-size: 8px;
  line-height: 20px;
  color: #7c7c7c;
  padding-left: 5px;
  padding-right: 5px;
}

.singlepost-awards {
  font-size: 0.7rem;
  padding-left: 10px;
  padding-right: 10px;
  color: #7c7c7c;
  cursor: pointer;
}

.singlepost-title {
  padding-left: 8px;
  font-size: 1.25rem;
  padding-top: 5px;
  margin-bottom: 10px;
  width: calc(100% - 30px);
  font-weight: 500;
}

.singlepost-title-shortened {
  /* padding-right: 170px; */
  padding-left: 8px;
  font-size: 1.25rem;
  padding-top: 5px;
  margin-bottom: 10px;
  font-weight: 500;
}

.singlepost-link-container {
  margin-top: -10px;
  padding-left: 8px;
}

.singlepost-link {
  font-size: 0.8rem;
  position: relative;
  top: -15px;
}

.singlepost-link-long {
  font-size: 0.8rem;
  position: relative;
}

.singlepost-content-container {
  display: flex;
}

.singlepost-link-image {
  width: 140px;
  min-width: 140px;
  height: 110px;
  border-radius: 4px;
  border: 1px solid #0079d3;
  cursor: pointer;
  margin: 5px 10px auto 10px;
}

.singlepost-video-background {
  background-color: black;
  justify-content: center;
  display: flex;
  max-width: 100%;
  position: relative;
}

.singlepost-img-center {
  display: flex;
  justify-content: center;
  align-items: center;
  max-width: 100%;
}

.singlepost-image {
  max-width: 100%;
  cursor: pointer;
  max-height: 700px;
  display: flex;
  /* max-width: 700px */
  /* width: 100%; */
  position: relative;
}

.singlepost-video {
  position: relative;
  max-height: 580px;
  max-width: 600px;
  width: 100%;
  cursor: pointer;
}

.singlepost-gallery-btn-container {
  position: relative;
}

.singlepost-gallery-button {
  height: 44px;
  width: 44px;
  border-radius: 50%;
  font-size: 3rem;
  line-height: 5px;
  outline: none;
  border: none;
  background-color: white;
  color: #878a8c;
  cursor: pointer;
}

.singlepost-gallery-button span {
  position: relative;
  top: -3px;
}

.singlepost-gallery-button-left {
  position: absolute;
  left: 10px;
  z-index: 2;
  bottom: -22px;
}

.singlepost-gallery-button-right {
  position: absolute;
  right: 10px;
  bottom: -22px;
}

/* start of styles the comments bar at the bottom */
.singlepost-bottom-bar {
  display: flex;
  /* margin-top: auto; */
  margin-top: 20px;
  font-size: 0.85rem;
  height: 35px;
  width: 70%;
  min-width: 422px;
}

.singlepost-comments {
  display: flex;
  cursor: pointer;
  padding: 10px;
  position: relative;
  font-size: 0.75rem;
  color: #898989;
}
.singlepost-comments:hover {
  background-color: rgba(0, 0, 0, 0.04);
  border-radius: 5px;
}

.singlepost-comments-text {
  position: relative;
  left: 8px;
}

.singlepost-comments-speechbubble {
  position: relative;
  height: 25px;
  bottom: 3px;
}

.singlepost-share-link {
  display: flex;
  cursor: pointer;
  padding: 10px;
}
.singlepost-share-link:hover {
  background-color: rgba(0, 0, 0, 0.04);
  border-radius: 5px;
}

.singlepost-share-arrow {
  position: relative;
  height: 28px;
  bottom: 8px;
}

.singlepost-share-text {
  position: relative;
  color: #898989;
  font-size: 0.75rem;
  top: 1px;
}

.singlepost-save {
  display: flex;
  cursor: pointer;
  padding: 10px;
}
.singlepost-save:hover {
  background-color: rgba(0, 0, 0, 0.04);
  border-radius: 5px;
}

.singlepost-save-banner {
  position: relative;
  height: 22px;
  width: 17px;
  bottom: 2px;
}

.singlepost-save-text {
  position: relative;
  color: #898989;
  font-size: 0.75rem;
  left: 5px;
}

.singlepost-hide {
  display: flex;
  cursor: pointer;
  padding: 10px;
}
.singlepost-hide:hover {
  background-color: rgba(0, 0, 0, 0.04);
  border-radius: 5px;
}

.singlepost-hide-banner {
  width: 20px;
  height: 20px;
}

.singlepost-report {
  display: flex;
  cursor: pointer;
  padding: 10px;
}
.singlepost-report:hover {
  background-color: rgba(0, 0, 0, 0.04);
  border-radius: 5px;
}

.singlepost-report-banner {
  width: 15px;
  height: 18px;
}

.signup-bar {
  border: 1px solid #edeff1;
  margin-top: 20px;
  margin-right: 30px;
  margin-left: 8px;
  padding: 12px 8px;
  display: flex;
  flex-direction: row;
  border-radius: 4px;
  justify-content: space-between;
}

.signup-text {
  color: #7c7c7c;
  font-weight: 600;
  margin: auto 0;
}

.post-btn-login {
  margin-right: 10px;
  width: 77px;
  min-height: 32px;
  min-width: 32px;
  font-size: 14px;
  line-height: 14px;
}
.post-btn-login:hover {
  background-color: #f5fafd;
}

.post-btn-signup {
  width: 85px;
  min-height: 32px;
  min-width: 32px;
  font-size: 14px;
  line-height: 14px;
}
.post-btn-signup:hover {
  background-color: #1484d7;
}

.singlepost-comment-container {
  margin-top: 50px;
  width: calc(100% + 40px);
  margin-left: -40px;
  padding: 0 0 32px 0;
}

.after-comment-box {
  height: 32px;
  width: calc(100% + 40px);
  margin-left: -40px;
  background-color: #e8e8e8;
}

.sort-posts {
  display: flex;
  height: 60px;
  margin-bottom: 16px;
}

.popular-title {
  font-size: 0.85rem;
  font-weight: 500;
}

.popular-container {
  display: flex;
  flex: 1;
  background-color: white;
  border-radius: 5px;
  border: 1px solid #cccccc;
  align-items: center;
  justify-content: space-between;
  width: 640px;
}

.hot-icon {
  height: 22px;
  position: relative;
  top: 3px;
  right: 3px;
}

.hot-grey {
  background: url("../assets/images/hot.png");
}

.hot-blue {
  background: url("../assets/images/hot-blue.png");
}

.popular-hot {
  color: #878a8c;
  background-color: #f5fafd;
  border-radius: 100vmax;
  font-weight: bold;
  padding: 1px 8px 7px 8px;
  font-size: 1rem;
  margin-left: 20px;
  cursor: pointer;
}
.popular-hot:hover {
  background-color: #f1f1f1;
}

.popular-location {
  color: #0079d3;
  background-color: #f5fafd;
  border-radius: 100vmax;
  font-weight: bold;
  padding: 6px 17px;
  font-size: 1rem;
  margin-right: 10px;
  cursor: pointer;
}
.popular-location:hover {
  background-color: #f1f1f1;
}

.v-location {
  height: 6px;
  position: relative;
  left: 5px;
  align-self: center;
}

.new-icon {
  position: relative;
  height: 20px;
  width: 20px;
  top: 4px;
  right: 2px;
}

.new-grey {
  background: url("../assets/images/star.png");
}

.new-blue {
  background: url("../assets/images/star-blue.png");
}

.popular-new {
  position: relative;
  color: #878a8c;
  font-size: 1rem;
  font-weight: bold;
  right: 2px;
  padding: 3px 7px 6px 7px;
  cursor: pointer;
  border-radius: 20px;
}
.popular-new:hover {
  background-color: #f1f1f1;
}

.top-icon {
  position: relative;
  height: 22px;
  top: 5px;
  right: 4px;
}

.top-grey {
  background: url("../assets/images/top.png");
}

.top-blue {
  background: url("../assets/images/top-blue.png");
}

.hot-icon,
.new-icon,
.top-icon {
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -ms-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
  outline: none;
  border: none;
}

.popular-top {
  position: relative;
  color: #878a8c;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  border-radius: 18px;
  padding: 0 6px 6px 8px;
}
.popular-top:hover {
  background-color: #f1f1f1;
}

.popular-today {
  position: relative;
  color: #0079d3;
  left: 4px;
  font-size: 1rem;
  font-weight: bold;
  right: 10px;
  cursor: pointer;
  display: flex;
  padding: 5px 0px;
}

.popular-more {
  position: relative;
  left: 9px;
  padding: 2px;
  color: #878a8c;
  font-size: 1.2rem;
  font-weight: bold;
  letter-spacing: 1px;
  cursor: pointer;
  line-height: 15px;
  display: flex;
  justify-content: center;
  height: 25px;
  width: 25px;
}
.popular-more:hover {
  background-color: #f1f1f1;
  border-radius: 50%;
}

.popular-view {
  padding-left: 145px;
  padding-right: 12px;
  margin-right: 0;
  position: relative;
  right: 2px;
}

.rectangle-icon {
  min-width: 25px;
  height: 18px;
  position: relative;
  top: 3px;
  cursor: pointer;
  padding: 4px 7px;
}
.rectangle-icon:hover {
  background-color: #f5fafd;
  border-radius: 5px;
}

.dropdown-location-container {
  display: none;
  position: absolute;
  max-height: 300px;
  overflow-y: scroll;
  overflow-x: hidden;
  width: 132px;
  margin-left: -10px;
  margin-top: 6px;
  z-index: 5;
}

.popular-location:active + .dropdown-location-container {
  display: block;
}

.show {
  display: block;
}

.dropdown-location {
  position: relative;
  background-color: white;
  width: 115px;
  color: #878a8c;
  font-size: 0.9rem;
  font-weight: 500;
  cursor: pointer;
  padding: 7px 0px 7px 5px;
  text-decoration: none;
  display: block;
  z-index: 5;
}
.dropdown-location:hover {
  background-color: #f1f1f1;
  color: black;
}

.dropdown-top-container {
  display: flex;
  position: absolute;
  z-index: 5;
  margin-left: -10px;
  max-height: 50px;
  overflow: hidden;
  min-width: 400px;
  background-color: white;
  top: 30px;
  border-radius: 4px;
  border: 1px solid #edeff1;
  box-shadow: 0 2px 4px 0 rgba(0, 0, 0, 0.2);
}

.popular-today:active + .dropdown-top-container {
  display: block;
}

.dropdown-top {
  position: relative;
  background-color: white;
  color: #878a8c;
  font-size: 0.9rem;
  font-weight: 500;
  padding: 8px 10px;
  text-decoration: none;
  white-space: nowrap;
  z-index: 5;
  cursor: pointer;
}
.dropdown-top:hover {
  background-color: #f1f1f1;
  color: black;
}

.clicked, .clicked:hover {
  color: #0079d3;
  background-color: #f1f1f1;
}

.subhome {
  width: 100%;
}

.subhome-header {
  width: 100%;
  margin-top: 48px;
  display: flex;
  flex-direction: column;
  align-items: center;
}

.subhome-banner {
  width: 100%;
  max-height: 220px;
  background-size: cover;
}

.subhome-r-bar {
  display: flex;
  justify-content: center;
  background-color: white;
  width: 100%;
}

.subhome-r-bar-positioning {
  margin-left: 24px;
  height: 102px;
}

.subhome-r-bar-content {
  width: 640px;
  height: 102px;
}

.subhome-r-bar-top {
  display: flex;
}

.subhome-r-bar-bottom {
  display: flex;
  height: 35px;
  align-items: flex-end;
}

.r-bar-link {
  font-weight: 500;
  font-size: 0.9rem;
  font-family: "IBM Plex Sans", sans-serif;
  padding: 2px 8px;
  margin-right: 15px;
  border-bottom: 3px solid gray;
}

.subhome-icon {
  border-radius: 50%;
  width: 62px;
  height: 62px;
  font-size: 0.75rem;
  margin-top: -10px;
  margin-left: 5px;
  object-fit: contain;
  position: relative;
  z-index: 4;
  background-color: white;
}

.subhome-title {
  font-size: 1.75rem;
  font-family: "IBM Plex Sans", sans-serif;
  font-weight: bold;
  color: #1c1c1c;
  margin-left: 20px;
  margin-top: 8px;
}

.subhome-title-small {
  font-family: "IBM Plex Sans", sans-serif;
  color: #7c7c7c;
  margin-left: 20px;
  margin-top: 2px;
  font-size: 0.9rem;
  font-weight: 500;
}

.subhome-content-container {
  margin-top: 20px;
  display: flex;
  justify-content: center;
  margin-left: 30px;
}

.btn-sub-join {
  height: 32px;
  padding: 4px 16px;
  font-weight: 500;
  font-size: 0.9rem;
  margin-top: 10px;
  margin-left: 25px;
}

.subhome-rules-container {
  width: 300px;
  background-color: white;
  margin-left: 25px;
  margin-top: 15px;
  border-radius: 4px;
  padding-right: 10px;
}

.subhome-rules-heading {
  width: 300px;
  height: 44px;
  font-weight: bold;
  background-position: contain;
  border-top-left-radius: 4px;
  border-top-right-radius: 4px;
  position: relative;
  display: flex;
  align-items: center;
  padding-left: 10px;
  font-size: 0.9rem;
}

.subhome-rule-container {
  width: 100%;
  padding: 10px 0px;
  margin-left: 8px;
  margin-right: 10px;
  font-size: 0.9rem;
}

.subhome-rule-container-outer {
  display: flex;
  border-bottom: 1px solid rgba(26, 26, 27, 0.1);
}

.subhome-rule-container * {
  -webkit-touch-callout: none;
  -webkit-user-select: none;
  -khtml-user-select: none;
  -moz-user-select: none;
  -ms-user-select: none;
  user-select: none;
}

.subhome-rule-number {
  font-weight: 500;
  padding-right: 5px;
}

.subhome-rule {
  font-weight: 500;
  padding-right: 20px;
}

.subhome-v-icon {
  height: 6px;
  width: 12px;
  margin-left: auto;
  margin-right: 5px;
}

.v-container {
  display: flex;
  z-index: 20;
  height: 100%;
  margin-top: 16px;
  /* margin-bottom: auto; */
}

.subhome-rule-inner {
  margin-left: 30px;
  margin-right: 30px;
  margin-top: 10px;
  font-size: 0.88rem;
  font-family: NotoSans, BentonSans, Verdana, arial, helvetica, sans-serif;
}

.subhome-rule-inner li {
  margin-top: 10px;
}

.trending {
  display: inline;
  position: relative;
  top: 50px;
  max-width: 1020px;
  height: 200px;
  margin-top: 2px;
  width: 50%;
}

.trending-title {
  /* margin-left: 265px; */
  margin-top: 14px;
  font-size: 0.9rem;
  font-weight: 500;
  font-size: 0.88rem;
  /* this margin-left keeps it inline with the trending blocks below */
  margin-left: calc(50% - 495px);
}

.trending-blocks {
  margin-top: 10px;
  display: flex;
  justify-content: center;
}

.trending-block-img {
  margin-left: 6px;
  margin-right: 6px;
  height: 178px;
  width: 238px;
  border-radius: 8px;
  opacity: 0.9;
  object-fit: cover;
  position: relative;
  z-index: -1;
}

.black-overlay {
  height: 178px;
  width: 238px;
  border-radius: 8px;
  background-color: rgba(0, 0, 0, 0.2);
  opacity: 1;
  z-index: 10;
  display: inline;
}

.no-data {
  background-color: rgba(125, 130, 180, 0.314);
}

.trending-block-dark {
  height: 178px;
  background-image: linear-gradient(0deg, rgba(0, 0, 0, 0.9) 25%, rgba(0, 0, 0, 0.65) 50%, rgba(0, 0, 0, 0.2) 75%, rgba(0, 0, 0, 0.1));
  width: 238px;
  border-radius: 8px;
  display: flex;
  flex-direction: column;
  margin: -183px 6px 0 6px;
  opacity: 1;
  transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
}
.trending-block-dark:hover {
  background-color: rgba(0, 0, 0, 0.2);
  transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
}

.trending-links-title {
  color: white;
  font-size: 0.89rem;
  margin-top: 101px;
  padding-left: 10px;
  padding-right: 3px;
  line-height: 20px;
  font-family: Noto Sans, Arial, sans-serif;
  opacity: 1;
  z-index: 3;
  position: relative;
  height: 39px;
  /* hide any text that spans 3 lines */
  overflow: hidden;
  font-weight: 500;
}

.trending-links-subreddit {
  color: white;
  margin-left: 5px;
  font-family: Noto Sans, Arial, sans-serif;
  opacity: 1;
  z-index: 3;
  position: relative;
  font-size: 0.75rem;
  margin-top: 10px;
}

.trending-link {
  text-decoration: none;
}

.trending-block-subreddit-icon {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  margin-left: 10px;
  margin-top: 10px;
  background-color: white;
}

.trending-block-subreddit-container {
  display: flex;
}

@media screen and (max-width: 1205px) {
  .btn-login {
    width: 78px;
  }

  .btn-signup {
    width: 85px;
    padding: 1px 10px;
    margin-left: 5px;
  }

  .user-icons-container {
    margin-left: 0px;
    margin-right: 0px;
    width: 67px;
  }

  .user-icons-container {
    margin-left: 5px;
  }
}
@media screen and (max-width: 1087px) {
  .logo {
    width: 33px;
    height: 33px;
    background-image: url("../assets/images/logo-small.png");
  }

  .dropdown-subreddits {
    width: 130%;
  }
}
@media screen and (max-width: 1040px) {
  .post-container {
    width: unset;
    margin: 72px 0 0 24px;
  }
}
@media screen and (max-width: 1009px) {
  .trending-title {
    margin-left: calc(50% - 370px);
  }
}
@media screen and (max-width: 960px) {
  .sidebar,
.sidebar-container,
.single-post-sidebar,
.sidebar-links,
.sidebar-premium-container {
    display: none;
  }
}
.hide {
  display: none;
}

/*# sourceMappingURL=main.css.map */
