.btn {
  font-family: $NotoSans;
  border-radius: 100vmax;
  font-weight: bold;
  cursor: pointer;
  border: none;
  outline: none;
}

.btn-blue {
  color: $white;
  background-color: $blue;
  border: 1px solid $blue;

  &:hover {
    background-color: $dark-blue;
  }
}

.btn-white {
  color: $blue;
  background-color: $white;
  border: 1px solid $blue;

  &:hover {
    background-color: $light-gray-1;
  }
}

.btn-red {
  color: $white;
  background-color: $red;
  border: none;

  &:hover {
    background-color: $light-red;
  }
}
