@media screen and (max-width: 1087px) {
  .dropdown-subreddits {
    width: calc(130%);
  }
  
  .btn-login {
    width: 78px;
  }

  .btn-signup {
    width: 85px;
    padding: 1px 10px;
    margin-left: 5px;
  }

  .user-icons-container {
    width: 67px;
    margin-left: 5px;
  }
}

@media screen and (max-width: 1060px) {
  .trending {
    max-width: unset;
    margin: 2px 24px 0 24px;
  }

  .trending-title {
    margin-left: 0;
  }

  .trending-block-dark,
  .trending-block-img {
    max-width: 240px;
    width: 22.5vw;
  }

  .post-container {
    display: block;
    width: calc(100% - 48px - 24px - 310px);
    margin: 72px 0 72px 24px;
  }

  .sidebar-container {
    margin: 72px 24px 72px 0;
  }

  .subhome {
    margin-bottom: -72px;
  }
}

@media screen and (max-width: 1000px) {
  .trending-block-dark,
  .trending-block-img {
    max-width: 290px;
    width: 29vw;
  }
}

@media screen and (max-width: 960px) {
  .logo {
    width: 33px;
    height: 33px;
    background-image: url("../assets/images/logo-small.png");
  }

  .post-container {
    width: 100%;
    margin: 72px 24px;
  }

  .sidebar,
  .sidebar-container,
  .single-post-sidebar,
  .sidebar-links,
  .sidebar-premium-container {
    display: none;
  }

  .post-top,
  .post-right,
  .img-center {
    width: unset;
    width: 100%;
    max-width: unset;
  }
}

@media screen and (max-width: 750px) {
  .logo {
    left: 7px;
    margin: 0;
  }

  .searchbar-container {
    margin: 0;
  }

  .user-icons-container {
    width: 50px;
    margin-right: 7px;
  }

  .user-icon {
    margin: 4px 0 0 5px;
  }

  .trending-block-dark,
  .trending-block-img {
    max-width: 310px;
    width: 43vw;
  }
}

@media screen and (max-width: 650px) {
  .btn-container {
    display: none;
  }

  .hamburger-container {
    display: block;
  }
}

@media screen and (max-width: 520px) {
  .trending-block-dark,
  .trending-block-img {
    max-width: unset;
    width: 100%;
  }
}