.sort-posts {
  display: flex;
  height: 60px;
  margin-bottom: 16px;
}

.popular-title {
  font-size: 0.85rem;
  font-weight: 500;
}

.popular-container {
  display: flex;
  flex: 1;
  background-color: $white;
  border-radius: 5px;
  border: 1px solid $mid-gray-1;
  align-items: center;
  justify-content: space-between;
  width: 640px;
}

.hot-icon {
  height: 22px;
  position: relative;
  top: 3px;
  right: 3px;
}

.hot-grey {
  background: url("../assets/images/hot.png");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -ms-background-size: cover;
  -o-background-size: cover;
   background-size: cover;
   outline: none;
   border: none;
}

.hot-blue {
  background: url("../assets/images/hot-blue.png");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -ms-background-size: cover;
  -o-background-size: cover;
   background-size: cover;
   outline: none;
   border: none;
}

.popular-hot {
  color: $mid-gray-2;
  background-color: $light-gray-1;
  border-radius: 100vmax;
  font-weight: bold;
  padding: 1px 8px 7px 8px;
  font-size: 1rem;
  margin-left: 20px;
  cursor: pointer;
}

.popular-hot:hover {
  background-color: $light-gray-2;
}

.popular-location {
  color: $blue;
  background-color: $light-gray-1;
  border-radius: 100vmax;
  font-weight: bold;
  padding: 6px 17px;
  font-size: 1rem;
  margin-right: 10px;
  cursor: pointer;
}

.popular-location:hover {
  background-color: $light-gray-2;
}

.v-location {
  height: 6px;
  position: relative;
  left: 5px;
  align-self: center;
}

.new-icon {
  position: relative;
  height: 20px;
  width: 20px;
  top: 4px;
  right: 2px;
}

.new-grey {
  background: url("../assets/images/star.png");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -ms-background-size: cover;
  -o-background-size: cover;
   background-size: cover;
   outline: none;
   border: none;
}

.new-blue {
  background: url("../assets/images/star-blue.png");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -ms-background-size: cover;
  -o-background-size: cover;
   background-size: cover;
   outline: none;
   border: none;
}

.popular-new {
  position: relative;
  color: $mid-gray-2;
  font-size: 1rem;
  font-weight: bold;
  right: 2px;
  padding: 3px 7px 6px 7px;
  cursor: pointer;
  border-radius: 20px;
}

.popular-new:hover {
  background-color: $light-gray-2;
}

.top-icon {
  position: relative;
  height: 22px;
  top: 5px;
  right: 4px;
}

.top-grey {
  background: url("../assets/images/top.png");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -ms-background-size: cover;
  -o-background-size: cover;
   background-size: cover;
   outline: none;
   border: none;
}

.top-blue {
  background: url("../assets/images/top-blue.png");
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -ms-background-size: cover;
  -o-background-size: cover;
   background-size: cover;
   outline: none;
   border: none;
}

.popular-top {
  position: relative;
  /* bottom: 3px; */
  color: $mid-gray-2;
  font-size: 1rem;
  font-weight: bold;
  cursor: pointer;
  border-radius: 18px;
  padding: 0 6px 6px 8px;
}

.popular-top:hover {
  background-color: $light-gray-2;
}

.popular-today {
  position: relative;
  /* bottom: 2px; */
  color: $blue;
  left: 4px;
  font-size: 1rem;
  font-weight: bold;
  right: 10px;
  cursor: pointer;
  display: flex;
  padding: 5px 0px;
}

.popular-more {
  position: relative;
  left: 9px;
  padding: 2px;
  color: $mid-gray-2;
  font-size: 1.2rem;
  font-weight: bold;
  letter-spacing: 1px;
  cursor: pointer;
  line-height: 15px;
  display: flex;
  justify-content: center;
  height: 25px;
  width: 25px;
}

.popular-more:hover {
  background-color: $light-gray-2;
  border-radius: 50%;
}

.popular-view {
  padding-left: 145px;
  padding-right: 12px;
  margin-right: 0;
  position: relative;
  right: 2px;
}

.rectangle-icon {
  min-width: 25px;
  height: 18px;
  position: relative;
  top: 3px;
  cursor: pointer;
  padding: 4px 7px;
}

.rectangle-icon:hover {
  background-color: $light-gray-1;
  border-radius: 5px;
}

.dropdown-location-container {
  display: none;
  position: absolute;
  z-index: 5;
  margin-left: -10px;
  max-height: 300px;
  overflow-y: scroll;
  overflow-x: hidden;
  width: 132px;
}

.popular-location:active + .dropdown-location-container {
  display: block;
}

.show {
  display: block;
}

.dropdown-location {
    position: relative;
    background-color: white;
    width: 115px;
    color: $mid-gray-2;
    font-size: 0.9rem;
    font-weight: 500;
    cursor: pointer;
    padding: 7px 0px 7px 5px;
    text-decoration: none;
    display: block;
    z-index: 5;
}

.dropdown-location:hover {
  background-color: $light-gray-2;
  color: black;
}

.dropdown-top-container {
  display: flex;
  position: absolute;
  z-index: 5;
  margin-left: -10px;
  max-height: 50px;
  overflow: hidden;
  min-width: 400px;
  background-color: white;
  top: 30px;
  border-radius: 4px;
  border: 1px solid $light-gray-8;
  box-shadow: 0 2px 4px 0 $very-low-opacity-gray;
}

.popular-today:active + .dropdown-top-container {
  display: block;
}

.dropdown-top {
    position: relative;
    background-color: white;
    /* min-width: 55px; */
    color: $mid-gray-2;
    font-size: 0.9rem;
    font-weight: 500;
    cursor: pointer;
    padding: 8px 10px;
    text-decoration: none;
    white-space: nowrap;
    /* display: block; */
    z-index: 5;
}

.dropdown-top:hover {
  background-color: $light-gray-2;
  color: black;
}

.clicked, .clicked:hover {
  color: $blue;
  background-color: $light-gray-2;
}
