.trending {
  position: relative;
  top: 50px;
  max-width: 1020px;
  margin: 2px auto 72px auto;
}

.trending-title {
  margin-top: 14px;
  font-size: 0.9rem;
  font-weight: 500;
  font-size: 0.88rem;
  margin-left: 15px;
}

.trending-blocks {
  margin-top: 10px;
  display: flex;
  justify-content: center;
  gap: 12px;
}

.trending-block-img {
  height: 178px;
  width: 238px;
  border-radius: 8px;
  opacity: 0.9;
  object-fit: cover;
  position: relative;
  z-index: -1;
}

.black-overlay {
  height: 178px;
  width: 238px;
  border-radius: 8px;
  background-color: $very-low-opacity-gray;
  opacity: 1;
  z-index: 10;
  display: inline;
}

.no-data {
  background-color: $low-opacity-blue;
}

.trending-block-dark {
  display: flex;
  flex-direction: column;
  background-image: linear-gradient(0deg,rgba(0,0,0,0.9) 25%,rgba(0,0,0,0.65) 50%,rgba(0,0,0,0.2) 75%,rgba(0,0,0,0.1));
  height: 178px;
  width: 238px;
  border-radius: 8px;
  opacity: 1;
  margin: -183px 0 0 0 ;
  transition: all 0.2s ease;
  -webkit-transition: all 0.2s ease;
  
  &:hover {
    background-color: $very-low-opacity-gray;
    transition: all 0.2s ease;
    -webkit-transition: all 0.2s ease;
  }
}

.trending-links-title {
  font-family: Noto Sans, Arial, sans-serif;
  position: relative;
  color: white;
  font-weight: 500;
  font-size: 0.89rem;
  line-height: 20px;
  opacity: 1;
  height: 39px;
  /* hide any text that spans 3 lines */
  overflow: hidden;
  padding-right: 3px;
  padding-left: 10px;
  margin-top: 101px;
  z-index: 3;
}

.trending-links-subreddit {
  color: white;
  margin-left: 5px;
  font-family: Noto Sans, Arial, sans-serif;
  opacity: 1;
  z-index: 3;
  position: relative;
  font-size: 0.75rem;
  margin-top: 10px;
}

.trending-link {
  text-decoration: none;
}

.trending-block-subreddit-icon {
  width: 16px;
  height: 16px;
  border-radius: 50%;
  margin-left: 10px;
  margin-top: 10px;
  background-color: white;
}

.trending-block-subreddit-container {
  display: flex;
}
