@font-face {
  font-family: BentonSans;
  src: url("../fonts/BentonSansRegular.otf");
}

@import url('https://fonts.googleapis.com/css2?family=Noto+Sans:wght@400;700&display=swap');
@import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:wght@200;300;400;500;600;700&display=swap');

@import "./comment.scss";
@import "./navbar.scss";
@import "./post.scss";
@import "./sidebar-links.scss";
@import "./sidebar-premium.scss";
@import "./sidebar.scss";
@import "./single-post-sidebar.scss";
@import "./single-post.scss";
@import "./sort-posts.scss";
@import "./subhome.scss";
@import "./trending.scss";

*, *::before, *::after {
  margin: 0;
}

body {
  background-color: rgb(218, 224, 230);
  font-family: 'IBM Plex Sans', sans-serif;
  min-height: 100vh;
}

.main-container {
  display: flex;
  flex-direction: row;
  justify-content: center;
}

.post-container {
  min-height: 1000px;
}

.hide {
  display: none;
}

.btn {
  font-family: NotoSans, BentonSans, Verdana, arial, helvetica, sans-serif;
  border-radius: 100vmax;
  font-weight: bold;
  cursor: pointer;
  border: none;
  outline: none;
}

.btn-blue {
  background-color: rgb(0, 121, 211);
  border: 1px solid rgb(0, 121, 211);
  color: white;
}

.btn-blue:hover {
  background-color: rgb(20, 132, 215);
}

.btn-white {
  background-color: white;
  border: 1px solid rgb(0, 121, 211);
  color: rgb(0, 121, 211);
}

.btn-white:hover {
  background-color: rgb(245, 250, 253);
}

.btn-red {
  background-color: #ff4500;
  border: none;
  color: white;
}

.btn-red:hover {
  background-color: rgb(255, 84, 20);
}

.sidebar-container {
  display: flex;
  flex-direction: column;
}

@media screen and (max-width: 1119px) {
  .sidebar-container {
    display: none;
  }
}
